html, body {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Helvetica;
    color:rgb(219, 0, 0);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-text {
    font-size: 40px;
    margin: 30px;
}

#player-btns-container, #computer-btns-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    overflow-y: auto;
    margin: 20px 0px;
}

#player-card, #computer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 75px;
    border: 2px solid rgb(219, 0, 0);
    border-radius: 8px;
    min-width: fit-content;
}

#results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

#winner-text {
    margin-bottom: 15px;
}

#winner-placeholder {
    margin-top: 0;
    font-size: 20px;
}

button {
    font-size: 30px;
    font-family: inherit;
    color: rgb(219, 0, 0);
    background: none;
    border: 2px solid rgb(219, 0, 0);
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

.btn-hover:hover {
    cursor: pointer;
    border-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    transform: scale(1.1);
}

#player-id, #computer-id {
    font-size: 70px;
    margin: 0;
}

#player-choice, #computer-choice {
    font-size: 30px;
}

.computer-btns {
    border-color: rgb(219, 0, 0);
    scale: 1;
    transition: all 0.3s;
}

.animate-computer-btn {
    border-color: rgb(153, 153, 153);
    scale: 1.1;
}